:root {
    --fundo: #1C1B1B;
    --background-menu: #1F1F1F;
    --verde: #01B574;
    --branco: #1F1F1F;
    --bg-fundo: 1C1B1B;
    --bg-verde: rgba(57, 57, 57, 70%);
    --fundo-botao1: #CF4B83;
    --cor_verde:#01B574;
    --fundo_tema: white;
    --cor-icone: black;


    --font1: 'Tajawal', sans-serif;

    --posicao_tema: 20px;
    --font-color: white;

    
}
