:root {
    --fundo: #DFDFDF;
    --background-menu: #1F1F1F;
    --verde: #01B574;
    --branco: #F4F4F4;
    --bg-fundo: #DFDFDF;
    --bg-verde: rgba(1, 181, 116, 13%);
    --fundo-botao1: #CF4B83;
    --cor_verde:#01B574;
    --fundo_tema:#01B574;
    --cor-icone: white;


    --font1: 'Tajawal', sans-serif;

    --posicao_tema: -20px;
    --font-color: black
    
}

